.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 406px;
  background-color: $color-white;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;

  &__body {
    padding: 0 16px 16px;
  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 32px auto 40px;
    background-image: url('../images/imac.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    width: 166px;
    margin: 0 0 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-text-color;
  }

  &__code {
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 166px;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    width: 166px;
    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-text-color;
  }

  &__buy {
    width: 166px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-color;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;

    &:hover {
      background-color: $color-white;
      color: $blue-color;
      border-color: $blue-color;
    }
  }
}
