.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 406px;
  background-color: $color-primary;
  border: 1px solid $border-color;
  border-radius: 5px;

  &__body {
    padding: 0 16px 16px;
  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 32px auto 40px;
    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $main-color;
  }

  &__title-link {
    color: inherit;
    text-decoration: none;
  }

  &__code {
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    color: $main-color;
  }

  &__buy {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: $blue-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  color: $white-color;
  text-decoration: none;
  border: 1px solid transparent;
  
  &:hover {
    background-color: $white-color;
    color: $blue-color;
    border-color: $blue-color;
  }
}
}
